<!doctype html>
<html ng-app>
<head>
    <title>Enabling Wish List</title>
    <link rel="stylesheet" type="text/css" href="format.css"> 
<script type="text/javascript">
    function WishesController($scope){
        $scope.name="Anonymous"
        $scope.wishes=['books','movies','headphones'];
        $scope.addWish=function(){
            $scope.wishes.push($scope.newWish);
        }
        $scope.deleteWish = function ( idx ) {
            $scope.wishes.splice(idx, 1 );
        };
    }  
</script>
</head>
<body>
    <h1>Enabling Wish List</h1>
    <p>This is a site to create and publish your wish list.</p>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<div ng-controller="WishesController">
    Enter Your Name : <input type="text" ng-model="name">
        <br />
    Add more wishes :
        <input type="text" ng-model="newWish">
        <button ng-click="addWish()">Add</button>
    <hr/>
    <h2>List of Wishes</h2>
    <ul>
        <li ng-repeat="wish in wishes">{{wish}} <a class="ewlicon" ng-click="deleteWish($index)"><span class="icon_trash_alt"></span></a></li>
        <!--li ng-repeat="wish in wishes">{{wish}} <a ng-click="deleteWish($index)"><img alt="Delete" src="icons/delete96.png"></a></li-->
    </ul>
    <hr />
    Name : {{name}}<br />
    Selected wish : {{selectedWish}}
    <hr />
    Select a Wish : 
        <select ng-model="selectedWish" ng-options="wish for wish in wishes">
        </select>
</div>
</body>
</html>